.containerResume {
    display: flex;
    justify-content: center;
    color: white;
}

.downloadBox {
    border-radius: 7%;
    color: lightgreen;
    background: darkblue;
    height: 50px;
    width: 300px;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}