h1 {
    align-self: center;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: darkgreen;
}

.btnNav{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid blue;
    border-radius: 70%;
    width: 50px;
    height: 25px;
    background-color: black;
    margin: 10px 0px;
    padding: 15px;
    text-align: center;
    color: darkgreen;
    text-decoration: none;
    font-size: 1rem;
}


.btnNav:hover {
    background-color: darkslategray;
    color: #45dd45;
    border: 5px solid #4545d6
}


.iconNav {
    align-self: center;
    text-decoration: none;
    color: blue
}

.containerNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.linksNav {

    margin: 0 15px;
    width:100%;
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (min-width: 769px){
    .containerNav {
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 1.5rem;
    }
    .btnNav {
        width: 100px;
        height: 50px;
        margin: 0px 15px;
    }
}