.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-evenly;
}

.cardProject {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.projectImage {
    width: 90%;
}

.btnProjects {
    border-radius: 15%;
    background: darkblue;
    margin: 2%;
    padding: 1%;
    border: 1px solid green;
}

.btnProjects:hover {
    color:black;
    background: #1f85a7;
    border: 1px solid #41b141;
}

.projectLink {
    margin-top: 1.5%;
    color: white;
    text-decoration: underline;
}